:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bg-color: #f9f4ef;
    --headline-color: #020826;
    --text-color: #716040;
    --time-color: #8c7851;
    --secondary-color: #eaddcf;
    --media-caption-color: #8c7851;
    --tertiary-color: #f25042;
    --border-color: #020826;
    
}


h1{
    text-align: center;
    /* line-height: 10%; */
    font-family: 'Lora', serif;
    margin: 0;
}
h4{

 font-weight: normal;
 text-align: center;
 margin: 0;

 /* line-height: 1%; */

}
.first{
    background-color: var(--bg-color);
    height:fit-content;
    width: 100%;
    padding: 10px;
    padding-top: 2px;

}
.tribute-img{
    border: 2px solid black;
    width: 60%;
    margin-top: 60px;
}
.tribute{
    font-family: 'Libre Baskerville', serif;
    background: antiquewhite;
    width: 100%;
    padding: 10px;
    margin:auto;
    text-align: center;
}
.history{
    background-color: var(--bg-color);
    width: 100%;
    padding: 10px;
    margin: auto;
}
.paragraph{
    margin-left: 250px;
    margin-right: 250px; 
    
}
.para1{
    text-align: center;
    font-family: 'PT Serif', serif;;
}
    
.list{
    margin: auto;
    width: 75%;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.2em;


}
#text{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--headline-color);

}
.final{ 
    background-color: antiquewhite;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #8c7851;
    
 } 
 .final a {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 0.9rem;
    font-weight: 700;
 }

  .hr_center{
    width: 42%;
  }

  .down_text {
    text-align: center;
    width: 75%;
    margin: auto;
  }
  .list_1{
    width: 55%;
    margin: auto;
    color: var(--text-color);
    line-height: 200%;
  }